<p id="notice"><%= notice %></p>

<p>
  <strong>Spent on:</strong>
  <%= @expenditure.spent_on %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expenditure.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expenditure.description %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
